.nicegui-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 80px;
    border-bottom: 1px solid #FFFFFF0C;
    background: #010409;

}

.menu-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #94a3b8;
    font-size: 1rem;
}

.dropdown-button:hover {
    color: #e2e8f0;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #010409;
    min-width: 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    border: 1px solid #334155;
    z-index: 1000;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.dropdown-link {
    display: block;
    padding: 0.75rem 1rem;
    color: #94a3b8;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-link:hover {
    background-color: #334155;
    color: #e2e8f0;
}

.menu-link {
    padding: 0.5rem 1rem;
    color: #94a3b8;
    text-decoration: none;
}

.menu-link:hover {
    color: #e2e8f0;
}

