body {
    --q-primary: #2e3235 !important;
}

.q-page {
    background-color: #0d1017;
}

.nicegui-drawer {
    background-color: #0d1017;
}

.drawer-resizer {
    width: 3px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.05);
    transition: background-color 0.2s ease;
}

.drawer-resizer:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
